<%- include('partials/header'); %>
<div class="container-fluid about-bg">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 form-container">
            <h1 class="form-title">About</h1>
            <p>
                Wakadupe is a platform were you upload and find ‘hidden gems’ i.e mind blowing locations that you won’t
                find on Google but you believe the world has got to know about. It could be a tiny creek with lovely
                vegetation or a hidden village. Upload it and let’s come share in its beauty.
            </p>
            <p>
                As a tourist – plan your next trip backed with locations that won’t turn up in a simple Google search
                and really make the best of your trip!
            </p>
            <br>
            <br>
            <br>
            <p class="copy-right"> <span>Copyright &copy; 2020</span> |
                <span>All Rights Reserved by <a class="form-link" href="http://ccurves.github.io/">
                        ccurves</a></span></p>
        </div>
    </div>
</div>




<%- include('partials/footer'); %>