@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html{
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


/**** Landing Page ****/
.row{
    margin: 0 !important;
}

.landing{
    font-size: 62.5%;
    font-size: 1.4rem;
    width: 100vw;
    position: absolute ;
    margin: 0;
    padding: 0;
}
.landing h1{
    font-size: 2.4rem;
}
.container-item{
    margin: 0 auto 0;
}
a{
    color: #fff;
    text-decoration: none;
}
.landing-page-container{
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background-image: url(/img/Home-page.png);
    background-size: cover;
    overflow: hidden;
    display: table;
    color: #09383e;
}
.content-wrapper{
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header{
    width: 100%;
    height: 2rem;
    padding: 3rem 0;
    display: block;
}
.heading{
    width: 90%;
    margin: 0 30px;
}
.heading img{
    position: relative;
}

.coorde{
    font-size: 1rem;
    display: inline-block;
    position: relative;
    top: 40%;
    letter-spacing: .2rem;
    left: -11.5rem;
    margin: 0;
    transform: rotate(-90deg) translateY(50%);
}
.ellipse-container{
    width: 50rem;
    height: 50rem;
    left: 27%;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 7rem;
    
    
}
 .greeting{
    position: relative;
    top: 23rem;
    left: 25%;
    right: 0;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 4rem;
    font-weight: 800;
    font-size: 8rem;
    opacity: .5;
}
.link{
    position: relative;
    top: 24rem;
    left: 43%;
    font-size: 1.9rem;
    background: #09383E;
    border-radius: 0;
    outline: none;
    padding: 10p;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 0.475rem 0.85rem;
    line-height: 1.5;
    text-decoration: none;
    border: none;

}
.link:hover{
    text-decoration: none;
    color: #fff;
}
.ellipse-container .greeting:after{
    content: '';
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #0c383e;
    position: relative;
    top: -0.65rem;
    left: -5.05rem;
}
.ellipse{
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
}
.ellipse-outer-thin{
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(9,56,62,.2);
    animation: orbit 15s ease-in-out infinite;
}

.ellipse-outer-thin:after{
    content: '';
    background-image: url(../img/dial.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    position: absolute;
   
   
}
.ellipse-outer-thick{
    width: 99.5%;
    height: 99.5%;
    border-color: #09383e transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    animation: rotate 15s ease-in-out infinite;
}

.ellipse-orbit{
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: #09383e;
    top: 5rem;
    right: 6.75rem;
}

.ellipse-orbit:before{
    content: '';
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    display: inline-block;
    background-color: #09383e;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes rotate{
    0%{
      transform: rotate(-45deg);  
    }
    100%{
        transform: rotate(-405deg);
    }
}


@keyframes orbit{
    0%{
      transform: rotate(0deg);  
    }
    100%{
        transform: rotate(-360deg);
    }
}
.thumbnail .caption-full{
    padding: 9px;
}
#delete-form{
    display: inline;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/



@media screen and (max-width: 992px){
    .ellipse-container{
        width: 50rem;
        height: 50rem;
        left: 27%;
        border-radius: 50%;
        margin: 0 auto;
        position: absolute;
        top: 7rem;      
    }
    .greeting{
        position: relative;
        top: 23rem;
        left: 25%;
        right: 0;
        margin: 0 auto;
        text-transform: uppercase;
        letter-spacing: 4rem;
        font-weight: 800;
        font-size: 8rem;
        opacity: .5;
    }
    .link{
        position: relative;
        top: 24rem;
        left: 43%;
        color: #fff;
        font-size: 1.9rem;
        text-decoration: underline;
    }
}
@media screen and (max-width: 768px){
    .ellipse-container{
         top: 20rem;
         left: 15%;      
    }
    .greeting{
        font-size: 6rem;
        left: 15%;
        top: 37rem;
    }
    .link{
        top: 38rem;
        left: 39%;
        color: #fff;
    }
}
@media screen and (max-width: 576px) {
    .greeting{
        position: relative;
        top: 23rem;
        left: 10%;
        letter-spacing: 2rem;
        font-size: 3.2rem;
       
    }
    .link{
        position: relative;
        top: 23rem;
        left: 37%;
        font-size: .9rem;
        color: #fff;
           
    }
    .coorde{
        font-size: .7rem;
        position: relative;
        left: -8.5rem;

    }
    .ellipse-container{
        width: 20rem;
        height: 20rem;
        left: 22%;
        border-radius: 50%;
        position: absolute;
        top: 17rem;      
    }
    
    .ellipse-orbit{
        width: 1.5rem;
        height: 1.5rem;
        border-width: 1px;
        border-color: #09383e;
        top: -0.5rem;
        right: 6.75rem;
    }
    
    .ellipse-orbit:before{
        content: '';
        width: 0.4em;
        height: 0.4em;
        border-radius: 50%;
        display: inline-block;
        background-color: #09383e;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
}